<div class="box">

    <form #formInfo="ngForm" (submit)="addProduct()">

        <label>Name: </label><br>
        <input type="text" name="name" [(ngModel)]="product.name" required pattern="^[A-Z].*$" #nameInfo="ngModel">
        <span *ngIf="nameInfo.errors?.required && nameInfo.touched">Missing Name </span>
        <span *ngIf="nameInfo.errors?.pattern ">Name must start with capital </span>
        <br><br>

        <label>Price: </label><br>
        <input type="number" name="price" [(ngModel)]="product.price" required #priceInfo="ngModel">
        <span *ngIf="priceInfo.invalid && priceInfo.touched">Missing Price </span>
        <br><br>

        <label>Stock: </label><br>
        <input type="number" name="stock" [(ngModel)]="product.stock" required #stockInfo="ngModel">
        <span *ngIf="stockInfo.invalid && stockInfo.touched">Missing stock</span>
        <br><br>

        <input #imageBox type="file" accept="image/*" name="image" (change)="handleImage($event)">
        <button class="image-button" type="button" (click)="imageBox.click()">Select Image</button>
        <br><br>

        <ng-container *ngIf="preview">
            <img [src]="preview">
            <br><br>
        </ng-container>

        <button [disabled]="formInfo.form.invalid">Add</button>

    </form>

</div>