<div>

    <!-- Binding: -->
    <app-wishlist></app-wishlist>

    <!-- Directives: -->
    <app-sales></app-sales>

    <!-- Pipes: -->
    <app-gift-card></app-gift-card>

    <!-- @Input: -->
    <app-thumbnail imageSource="assets/images/caviar.jpg" imageTitle="Caviar"></app-thumbnail>
    <app-thumbnail imageSource="assets/images/pasta.jpg" imageTitle="Pasta"></app-thumbnail>
    <app-thumbnail imageSource="assets/images/chocolate.jpg" imageTitle="Chocolate"></app-thumbnail>

    <!-- Template Reference Variable: -->
    <app-price-scale></app-price-scale>

    <!-- Lifecycle Hooks: -->
    <app-clock></app-clock>
    
</div>